
body{
    background-color: #EFEEF3;
}
.div1{
    background-color: #251549;
    height: 150px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: darkgrey;
}

 .dropbtn:hover {
    background-color: yellowgreen;
}

.dropbtn.green {
    background-color: yellowgreen !important;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.div2{
    background-color: #77649B;
    height: 75px;
    margin-top: 0;
}
.text_div2{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding-top: 15px;
    color: white;
}
.text2_div2{
    text-align: center;
    color: white;
    font-size: 0.7em;
}
.lien_div2{
    text-decoration: none;
    color: white;
}
.text_maj{
    color: blueviolet;
}
.candidature{
    margin-left: 70px;
}
.form_col{
    display: inline-block;
    margin-right: 15px;
    padding: 3px 0px;
    width: 200px;
    min-height: 1px;
    text-align: left;
}
input{
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    height: 39px;
    width: 360px;
}
input:focus{
    border-color: rgba(82, 168, 236, 0.75);
    box-shadow: 0 0 18px rgba(82, 168, 236, 0.5);
}
.correct{
    border-color: rgba(68, 191, 68, 0.75);
}
.correct:focus{
    border-color: rgba(68, 191, 68, 0.75);
    box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}
.incorrect{
    border-color: rgba(191, 68, 68, 0.75);
    background-color: #FADCD9;
}
.incorrect:focus{
    border-color: rgba(191, 68, 68, 0.75);
    box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}
.tooltip{
    display: inline-block;
    margin-left: 10px;
    padding: 2px 4px;
    border-radius: 6px;
    color: red;
}
.flex-container4 {
    display: flex;


}

.flex-container4>div {
    padding:20px;
}
.flex1{
    margin-left: 100px;
    width: 1000px;
    display: block;
}
.flex2{
    margin-left: 5px;
    margin-right: 70px;
    width: 720px;
}

#panel1, #flip1, #panel, #flip, #panel2, #flip2 {
    padding: 5px;
    background-color: white;
    border: solid 1px #c3c3c3;
}

#panel1, #panel, #panel2 {
    padding: 50px;
    display: none;
}
.marges{
    margin-bottom: 10px;
    margin-top: 10px;
}
.droite{
    text-align: right;
}
#flip:hover, #flip1:hover, #flip2:hover{
    background-color: #FDCE37 ;
}

.hexagon {
    position: relative;
    width: 240px;
    height: 173.21px;
    background-color: white;
    margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 86.60px solid white;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid white;
}
.hexag_text{
    text-decoration: none;
    font-size: 0.8em;
    text-align: center;
}
.titre_hexa{
    text-align: center;
}


.bouton{
    font-size: 15px;
    background-color: forestgreen;
}

.stButton {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:15px 150px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.stButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
.stButton:active {
    position:relative;
    top:1px;
}

.button-container {
    display: block;
    margin-left: 215px;
}

