

.category-title {
    display: block;
    line-height: 105.56%;
    color: #474d50;

}

.category-title a {
    color: #474d50;
    text-decoration: none;
}

.category-title a:hover {
    color: #474d50;
    text-decoration: underline;
}

.flex1 {
    background-color: white;
}







.info-title a {
    color: white;
    text-decoration: none;
}

.info-title a:hover {
    text-decoration: underline;
}