

.dates-table {
    background-color: #f1f2f1;
    color: #5f676b;
}

.dates-table td {
    background-color: #f1f2f1;
    color: #5f676b;
    border: 1px solid #f16e00;
}

.dates-table tbody.tb td.first {
    border-left: 5px solid #f16e00;
    background-color: #f1f2f1;
    color: #5f676b;
}

.dates-table th {
    text-align: left;
    background-color: #879094;
    color: #fff;
    padding: 4px 10px 2px 10px;

}

.dates-table th.active{
    background-color: #5f676b;

}

.dates-table th:hover {
    background-color: #5f676b;
    cursor: pointer;
    text-decoration: underline;

}

.active {
    background-color: #5f676b;
}

.category-container {
    display: block;

    clear: both;
}

footer {
    display: block !important;
}

.flex-container4 {
    /*display: flex;*/
    display:block !important;
    /*height: 1000px;*/

}

.green {
    background-color: #a0c814 !important;
}

