.slogan {
    align-self: flex-end;
    display: block;

    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    padding-top: 25px;
    color: #e1dfe6;

    padding-bottom: 2px!important;
}

.nav_bar{
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    align-items: center;

}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #251549;
    padding-bottom: 25px;
}

.logo{
    display: flex;
    flex-direction: column;

}

.logo-message {
    text-transform: uppercase;
    font-weight: 900;
    /*font-style: italic;*/
    font-size: 22px;
    /*line-height: 26px;*/
    color: #e1dfe6;

    padding: 0;
    margin: 0;

}

.logo-group {
    display: flex;
    margin-right: 25px;
    margin-top: 25px;

}

.eli {
    color: white;
    font-style: italic;
    margin-top: 37px;
    font-size: 12px;
    font-weight: bold;
}

.nav-and-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #251549;

}